body{
    font-family: arial,helvetica;
    background: #000;

}

.Menu-1 .logo img{
    height: 90px;
    width: 120px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: black;
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: center;
    
}

.Menu-1 li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.Menu-1 li{

    display: inline-block;
    text-align: center;

}

.Menu-1 a:hover {
    background-color: crimson;
}

.Menu-1 {

    display:flex;
    flex-direction: column;
    align-items: center;

}